body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textAlignCenter {
  text-align: center!important;
}

.textAlignCenter > input
{
  text-align: center!important;
}

.textAlignCenter > button
{
  text-align: center!important;
}

.centeredButton 
{
  margin-left: auto!important;
  margin-right: auto!important;
  /* width: 6em */
}


.tableFont {
  font-size: 18px; /* was 15  */
  text-align: center;
}
.tableFontProportions {
  font-size: 18px;
  text-align: center;
  color: #636363;
}

.tableHeaderFont {
  font-size: 18px;
  text-align: center;
}

.placeholderCentering > input::placeholder {
  text-align: center;
}

textarea {
  resize: none!important;
}

.ui.mini.modal {
  width: 200px!important;
}

.centertext {
  height: 20px;
  line-height: 20px;
}

.ui.orange.button, .ui.orange.buttons .button {
  background-color: #f58220!important;
}