body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textAlignCenter{
  text-align: center!important;
}

.textAlignCenter > input
{
  text-align: center!important;
}

.tableFont {
  font-size: 15px;
  text-align: center;
}

.tableHeaderFont {
  font-size: 15px;
  text-align: center;
}

.placeholderCentering > input::placeholder {
  text-align: center;
}

textarea {
  resize: none!important;
}